*.csv
#Python env
bin/
lib/
lib64
include/
share/
pyvenv.cfg
.ipynb_checkpoints/
trade_strategy.egg-info
#git
.git/
#IgnoreFolders
.env
__pycache__/
/sandbox
/dist
*trade_strategy*.logs
*trade_strategy*.log
tests/mt5*
tests/env.test.json
tests/cc_*
trade/
ts_venv/
env.json